<%- model_class = Task -%>
<div class="box">
    <div class="box-header">
        <h2>
            <i class="icon-ok"></i><span class="break"></span>
            <%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
            :default => "Modifica #{model_class.model_name.human}") %>
        </h2>
    </div>
    <div class="box-content">
        <%= render :partial => 'form' %>
    </div>
</div>
