// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.tasks {
    li{ font-family: 'Open Sans', Helvetica, Arial, sans-serif;   display: block; padding: 8px; margin:0;
        input[type="checkbox"] { margin:0 10px 0 0}    
    }
    li:nth-child(even) {background:#f8f8f8}
    li:nth-child(odd) {background:#f3f3f3}
    margin:0; list-style:none;
}
table.tasks {
    input[type="checkbox"] { margin:0 } 
}    

#link_tasks { position:absolute; width:20px; height:20px; top:0; left:0;}

#done_tasks table { text-decoration: line-through; color:#aaa;}